
.webpage {
    width: 100vw;
    height: 100vw;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15% 60% 25%;
    display: grid;
    grid-gap: 0px;
    background-color: white;
    padding: 5px;
    background-color: rgb(63, 63, 63);
}
#index-title{
    font-size: xx-large;
    text-align: center;
    
}

#show-header{
    background-color: rgb(63, 63, 63);;
    color: black;
    border: 2px grey solid;
    
}

#game-embed{
    background-color: rgb(63, 63, 63);;
    color: black;
    border: 2px grey solid;
    grid-area: 2 / 1 / span 1 / span 1;
}

#show-page-scoreboard{
    color: black;
    border: 2px grey solid;
    grid-area: 1 / 2 / span 3 / span 2;
    
}

#comment-section{
    background-color: rgb(63, 63, 63);;
    color: black;
    border: 2px grey solid;
    grid-area: 3 / 1 / span 1 / span 1
}

#show-page-title{
    font-size: xx-large;
    text-align: center;
    color: hotpink;
}